@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
}

.nav-logo {
	height: 50px;
	width: auto;
}

.container {
	@apply w-3/4;
	@apply p-[20px];
}

.btn {
	@apply shadow-sm;
	@apply px-3;
	@apply py-2;
	border-radius: 5px;
	box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
	cursor: pointer;
}

.btn:active {
	@apply shadow-none;
}
